body {
  margin: 0;
  text-align: center;
  font-family: serif;
}

.top-container {
  background-color: #F6FBF4;
  position: relative;
  padding-top: 100px;
}

h1 {
  margin: 50 auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.6rem;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  color: #11999E;
}

a {
  color: #11999E;
}

.topCloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottomCloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.middle-container {

}

.bottom-container {

}

h4 {
  font-weight: normal;
}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
  overflow: auto;
}

.skillImage1 {
  width: 25%;
  margin-right: 25px;
  float: left;
}

.skillImage2 {
  width: 25%;
  margin-right: 25px;
  float: left;
}
